.offer{
    margin-top: 110px;
    margin-bottom: 180px;


    .offer-header{
        background-color: white;       

        h1{
            margin-top: 56px;
            margin-bottom: 5px;
            font-size: 30px;
            font-family: proxima;
            font-style: normal;
            letter-spacing: 10px;
        }
        
        .border-bottom{
            width: 200px;
            height: 2px;
            background-color: black;
            margin-bottom: 16px;
        }
    }

    .blog-header{
        background-color: white;       

        h1{
            margin-top: 56px;
            margin-bottom: 5px;
            font-size: 30px;
            font-family: proxima;
            font-style: normal;
            letter-spacing: 10px;
        }
        
        .border-bottom{
            width: 110px;
            height: 2px;
            background-color: black;
            margin-bottom: 35px;
        }
    }

    .contact-header{
        background-color: white;       

        h1{
            margin-top: 56px;
            margin-bottom: 5px;
            font-size: 30px;
            font-family: proxima;
            font-style: normal;
            letter-spacing: 10px;
        }
        
        .border-bottom{
            width: 160px;
            height: 2px;
            background-color: black;
            margin-bottom: 50px;
        }
    }

    .blog-box{

        .blue-box{
            max-width: 60px;
            max-height: 60px;
            background-color: $site-blue;
            text-align: center;
            color: $site-white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

           .date{
                h1{
                    font-size: 22px;
                    text-decoration: none;
                    display: inline-block;
                    border: none;
                    font-weight: bold;
                }
           }

           .date-name{
                p{
                    font-size: 12px;
                    text-decoration: none;
                    display: inline-block;
                    border: none;
                }
           }  
        }
        
        .blog-pic{
            max-width: 900px;
            max-height: 260px;
            display: flex;
            position: relative;
            overflow: hidden;
            margin-left: 80px;
            margin-top: -60px;
            

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .blog-text{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-left: 80px;
            
            h1{
                margin-top: 15px;
                max-width: 245px;
                font-size: 15px;
                color: $site-black;
            }

            p{
                margin-top: 15px;
                max-width: 380px;
                font-size: 13px;
                color: $site-blue;
                margin-bottom: 120px;
            }
        }

        .blog-text2{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-left: 80px;
            
            h1{
                margin-top: 15px;
                max-width: 245px;
                font-size: 15px;
                color: $site-black;
            }

            p{
                margin-top: 15px;
                max-width: 380px;
                font-size: 13px;
                color: $site-blue;
            }
        }

    }

    .offer-boxes{
        margin-top: 36px;

       
        .border-bottom{
            width: 235px;
            height: 2px;
            background-color: black;
            margin-bottom: 16px;
        }
        

        .offer-box{
            max-width: 722px;
            display:flex;
            position: relative;
            margin-bottom: 37px;

            .offer-image{
                width: 200px;
                height: 290px;
                overflow: hidden;
                margin-right: 21px;
                display: flex;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .map-image{
                width: 400px;
                height: 442px;
                overflow: hidden;
                display: flex;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .button{
                width: 133px;
                position: relative;
                border: none;
                color: $site-white;
                padding: 12px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 17px;
                margin-top: 95px;
                margin-bottom: 30px;
                cursor: pointer;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
            }
            
              .buttonpic1{
                  background-color: $site-blue;
                  border-radius: 25px;
                }

            .offer-text{
                max-width: 440px;
                margin-bottom:10px;
                font-size: 16px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: italic;
                font-weight: bold;
                
                .offer1-header{
                    background-color: white;       
            
                    h1{
                        
                        margin-bottom: 5px;
                        font-size: 30px;
                        font-family: proxima;
                        font-style: normal;
                        letter-spacing: 10px;
                    }
                    
                    .border-bottom{
                        width: 200px;
                        height: 2px;
                        background-color: black;
                        margin-bottom: 16px;
                    }

                    p{
                        max-width: 300px;
                    }
                }

                .top-boxes{
                    
                    margin-left: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    
                    
            
                    .holder{
                        position:relative;
            
                        .long-box{
                            max-width: 530px;
                            max-height: 60px;
                            margin-bottom: 23px;
                        }

                        
                        input{
                            width: 344px;
                            height: 58px;
                            padding-left: 10px;
                            border:  none;
                            background-color: #f5f5f5;
                
                        }
            
                    }

                    .bigbox{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        
                
                        .holder{
                            position:relative;
                            
                
                            .long-box{
                                max-width: 530px;
                                max-height: 200px;
                                
                            }
                            
                            input{
                                height: 192px;
                                padding-left: 10px;
                                border:  none;
                                background-color: #f5f5f5;
                    
                            }
                
                        }
                    }

                    .button{
                        width: 168px;
                        height: 60px;
                        left: 0px;
                        position: relative;
                        margin-left: -175px;
                        margin-top: -1px;
                        border: none;
                        color: $site-white;
                        padding: 12px 10px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 17px;
                        margin-bottom: 30px;
                        cursor: pointer;
                        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        
                    }
                    
                      .button1{
                          background-color: $site-blue;
                        }


                }

                .contact-text{

                    p{
                    font-size: 18px;
                    margin-left: -550px;
                    margin-top: -80px;
                    max-width: 350px;
                    max-height: 161px;
                    }
                }
            }

            
        }

        .offer-box2{

            max-width: 722px;
            display:flex;
            position: relative;
            margin-bottom: 37px;
            margin-top: 65px;

            .offer-image{
                width: 200px;
                height: 290px;
                overflow: hidden;
                margin-right: 21px;
                display: flex;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .button{
                width: 133px;
                position: relative;
                border: none;
                color: $site-white;
                padding: 12px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 17px;
                margin-top: 95px;
                margin-bottom: 30px;
                cursor: pointer;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
            }
            
              .buttonpic1{
                  background-color: $site-blue;
                  border-radius: 25px;
                }

            .offer-text{
                max-width: 440px;
                margin-bottom:10px;
                font-size: 16px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: italic;
                font-weight: bold;
                
                .offer1-header{
                    background-color: white;       
            
                    h1{
                        
                        margin-bottom: 5px;
                        font-size: 30px;
                        font-family: proxima;
                        font-style: normal;
                        letter-spacing: 10px;
                    }
                    
                    .border-bottom{
                        width: 200px;
                        height: 2px;
                        background-color: black;
                        margin-bottom: 16px;
                    }

                    p{
                        max-width: 300px;
                    }
                }
            }

            
        }
    }
}


@media all and (max-width: 1000px){
    .offer{
        .offer-header{
            margin-left: 20px;

            p{
                margin-right: 20px;
            }
        }

        .offer-boxes{
            margin-left: 20px;

            .offer-box{

                .offer-image{
                    flex-direction: column;
                }

                .map-image{
                    flex-direction: column;
                }

                p{
                    flex-direction: column;
                }
            }
        }

    }
} 